.Backdrop {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 5, 0.5);
	width: 100%;
	height: 100%;
	z-index: 5;
	animation: fadeInBackdrop 0.3s;
}

@keyframes fadeInBackdrop {
	0% {
		background-color: rgba(0, 0, 5, 0);
	}
	100% {
		background-color: rgba(0, 0, 5, 0.5);
	}
}

.ErrorMessage {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	z-index: 6;
	font-size: 30px;
	font-weight: 700;
	background-color: white;
	padding: 50px 150px;
	color: red;
	border-radius: 15px;
	animation: fadeInMessage 0.3s;
}

@keyframes fadeInMessage {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
